body{
    background-color: #749181;
}
h1{
    font-size: 50px;
    text-decoration: underline;
    padding: 20px;
}
h2{
    font-size: 30px;
    text-decoration: underline;
    padding: 5px 20px 5px 20px;
}
p{
    font-size: 20px;
    padding-left: 30px;
}
#cligui{
    width: 800px;
    height: 400px;
    margin: 50px;
}